.NavbarContainer {
    display: flex;
    height: 75px;
    background: #1A120B;
    justify-content: center;
    color: white;
}

.NavbarContainer > .Navbar {
    display: flex;
    width: 100%;
    max-width: 1800px;
    min-width: 200px;
    justify-content: space-between;
    align-items: center; 
}


.NavbarContainer > .Navbar > .Navbar--left {
    padding-left: 25px;
    font-size: 30px;
    font-weight: bolder;
    
}

.NavbarContainer > .Navbar > .Navbar--right {
    display: flex;
    padding-right: 25px;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D5CEA3;
    text-shadow: 0px 0px 4px rgba(213, 206, 163, 1);
}


