.NavbarContainer {
    display: flex;
    height: 75px;
    background: #1A120B;
    justify-content: center;
    color: white;
}

.NavbarContainer > .Navbar {
    display: flex;
    width: 100%;
    max-width: 1800px;
    min-width: 200px;
    align-items: center; 
    padding-left: 25px;
    font-size: 30px;
    font-weight: bolder; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #D5CEA3;
    text-shadow: 0px 0px 4px rgba(213, 206, 163, 1);
}

/* */
/* Responsive media queries below */
/* */

/* max-width: 650px */

@media (max-width: 650px) {
    .NavbarContainer > .Navbar {
      display: flex;
      justify-content: center; 
      padding-left: 0px;
    }
}

/* max-width: 360px */

@media (max-width: 360px) {
    .NavbarContainer > .Navbar > a{
        font-size: 24px;
    }
}


