.IntroContainer {
    display: flex;
    background: #D5CEA3;
    align-content: center;
    justify-content: center;
}

.Intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    height: 350px;
    align-content: center;
    justify-content: center;
    background: #D5CEA3;
    gap: 10px;
}

.Intro--title {
    display: flex;
    justify-content: center;
}


.Intro--numbers {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Intro--instructions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Intro--instructions-1, .Intro--instructions-2, .Intro--instructions-3 {
    width: 150px;
}

.Intro--numbers-1, .Intro--numbers-2, .Intro--numbers-3 {
    display: flex;
    width: 150px;
    justify-content: center;
    font-weight: bold;
}

